<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f59a7fbc-961d-4e04-8d92-9c63ca7ec649/resourcegroups/jalvcas-pruebatgr-rg/providers/Microsoft.Web/sites/JalvcasPruebaTgr20210328183248</ResourceId>
    <ResourceGroup>jalvcas-pruebatgr-rg</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://jalvcaspruebatgr20210328183248.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://jalvcaspruebatgr20210328183248.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>f23ba02d-890c-4b6b-9e65-26090718c502</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-165.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JalvcasPruebaTgr20210328183248</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JalvcasPruebaTgr20210328183248</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>